{
  "presets": ["@babel/preset-env"],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true}],
    "@babel/plugin-transform-modules-umd"
  ],
  "sourceMaps": true,
  "compact": true,
  "comments": false
}
